<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
        <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<form method="POST" class="post-form" action="/app/update/{{task.id}}">
        {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Update Details</h3>
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Task id:</label>
    <div class="col-sm-4">
        <input type="text" name="id" id="id_id" required maxlength="100" value="{{ task.id }}" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Task Title:</label>
    <div class="col-sm-4">
        <input type="text" name="title" id="id_title" required maxlength="100" value="{{ task.title }}" />
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Task Description:</label>
    <div class="col-sm-4">
        <input type="text" name="description" id="id_description" required maxlength="254" value="{{ task.description }}" />
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Task status:</label>
    <div class="col-sm-4">
        <input type="radio" id="id_is_complete_True" name="is_complete" value="True">
            <label for="True">Complete</label><br>
        <input type="radio" id="id_is_complete_false" name="is_complete" value="False">
            <label for="False">Incomplete</label><br>
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-success">Update</button>
    </div>
  </div>
    </div>
</form>
</body>
</html>