<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo Records</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>Task ID</th>
        <th>Task Title</th>
        <th>Task description</th>
        <th>Task completion status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
{% for task in tasks %}
    <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.is_complete }}</td>
        <td>
            <a href="edit/{{ task.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
            <a href="delete/{{ task.id }}">Delete</a>
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
<br>
<br>
<center><a href="todo" class="btn btn-primary">Add New Record</a></center>
</body>
</html>