body{
    font:14px/1.4 Verdana,Arial;
    background:#eee;height:100%;
    margin:25px 50px;
    padding:50px;

    }
h1{
    font:24px Georgia,Verdana;
    margin:0
    }
h2{
    font-size:12px;
    font-weight:400;
    font-style:italic;
    margin:0 0 20px
    }
p{
    margin-top:0
 }
ul{
    margin:0;
    padding-left:20px
  }
#testdiv{
    width:600px;
    margin:0 auto;
    border:1px solid #ccc;
    padding:20px 25px;
    background:#fff
    }
#tinybox{
    position:absolute;
    display:none;
    padding:10px;
    background:#fff ;
    border:10px solid #e3e3e3;
    z-index:2000
    }
#tinymask{
    position:absolute;
    display:none;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:#000;
    z-index:1500
    }
#tinycontent{
    background:#fff
    }
button{
    font:14px Georgia,Verdana;
    margin-bottom:10px;
    padding:8px 10px 9px;
    border:1px solid #ccc;
    background:#eee;
    cursor:pointer
    }
button:hover{
    border:1px solid #bbb;
    background:#e3e3e3
    }
table {
  font-family:sans-serif;}
  th, td {
    padding:.25em .5em;
    text-align:left;
    &:nth-child(2) {
      text-align:right;
    }
  }
  td {
    background-color:#70CAEE;
  }
  th {
    background-color:#009;
    color:#fff;
  }


